@import "tailwindcss";

body {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #f8eedf;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3.75rem;
  font-weight: 500;
}

h2 {
  font-size: 2.5rem;
  font-weight: 500;
}

.charInfoBox h3 {
  text-align: center;
  font-weight: bold;
  font-size: 1.15rem;
}